/*selector*/
h1{
    background-color: rgb(151, 151, 104);
}
.par1{
    background-color: blueviolet;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.par2{
    background-color: brown;
    font-weight: bold;
    
}
#p1{
    color: rgb(0, 47, 255);
    text-align: right;
}
#p2{
    color: aqua;
}
#p3{
    color: gold;
    text-align: right;
}
#p1, #p2, #p4{
    font-size: x-large;
    border-color: black;
    color: rgb(103, 252, 103);
    border-style: solid;
}
body{
    /*background-image: url(images/favican.png);*/
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: scroll;
}
section{
    text-shadow: 7px 7px 10px red;
}